<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<body>

<ul class="nav nav-tabs" aria-orientation="vertical">
  <li class="active">
    <a data-toggle="tab" href="#Admin">Admin</a>
  </li>
  <li>
    <a data-toggle="tab" href="#User">User</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="Admin">
    <h1>Admin panel</h1>
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#users">Users table</a>
      </li>
      <li></li>
      <li>
        <a data-toggle="tab" href="#newUser">New User</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="users">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>

            <td
                    th:text="${user.getRoles().toString()}">


            <td><a th:href="@{/admin/users/{id}/edit (id = ${user.getId()})}">Edit</a></td>
            <td><a th:href="@{/admin/users/{id}/delete (id = ${user.getId()})}">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="newUser">
        <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
          <p th:text="${message}"/>
          <label for="firstName">First name</label>
          <input type="text" th:field="*{firstName}" id="firstName"/>
          <br>
          <label for="lastName">Last name</label>
          <input type="text" th:field="*{lastName}" id="lastName"/>
          <br>
          <label for="age">Age</label>
          <input type="text" th:field="*{age}" id="age"/>
          <br>
          <label for="email">Email</label>
          <input type="text" th:field="*{email}" id="email"/>
          <br>
          <label for="password">Password</label>
          <input type="text" th:field="*{password}" id="password"/>
          <br>
          <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
          </label>
          <br>
          <input type="submit" value="Add new user"/>
        </form>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="User">

  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>